/* .list-page {
	background-color: #7f8c8d;
	color: white;
	height: 100%;
}

.wrapper {
	background: blue;
	margin: 200px 0;
} */
/* 
.list-page h1,
.list-page h3 {
	font-size: 3em;
} */

/* .list-page { */
/* background-color: #e67e22; */
/* height: 60vh; */
/* display: flex; */
/* flex-direction: column; */
/* justify-content: space-around; */
/* align-items: center; */
/* margin-top: 0px; */
/* } */
