@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Oswald|Source+Sans+Pro&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Lato', sans-serif; */
	/* font-family: 'Source Sans Pro', sans-serif; */
	/* font-family: 'Oswald', sans-serif; */
}

.list-item {
}

.fp-controlArrow.fp-next {
	border-left-color: rgba(0, 0, 0, 0.5);
}
.fp-controlArrow.fp-prev {
	/* margin-left: 100px; */
	border-right-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1800px) {
	.fp-controlArrow.fp-next {
		margin-right: 400px;
	}
	.fp-controlArrow.fp-prev {
		margin-left: 400px;
	}
}
@media (min-width: 1600px) and (max-width: 1700px) {
	.fp-controlArrow.fp-next {
		margin-right: 200px;
	}
	.fp-controlArrow.fp-prev {
		margin-left: 200px;
	}
}
@media (min-width: 1500px) and (max-width: 1600px) {
	.fp-controlArrow.fp-next {
		margin-right: 100px;
	}
	.fp-controlArrow.fp-prev {
		margin-left: 100px;
	}
}
@media (min-width: 1200px) and (max-width: 1500px) {
	.fp-controlArrow.fp-next {
		margin-right: 50px;
	}
	.fp-controlArrow.fp-prev {
		margin-left: 50px;
	}
}
@media (min-width: 1000px) and (max-width: 1200px) {
	.fp-controlArrow.fp-next {
		margin-right: 40px;
	}
	.fp-controlArrow.fp-prev {
		margin-left: 40px;
	}
}

.fp-slidesNav.fp-bottom {
	/* background: blue; */
}
.fp-slidesNav ul {
	margin-bottom: 22vh;
	margin-top: 0px;
	text-align: center;
}

html,
body,
#App {
	height: 100%;
	width: 100%;
	/* position: fixed; */
}

@media (max-width: 500px) {
	.findme {
		display: none;
	}
}
